<ion-view>
  <ion-content>
    <video id="remote" class="Remote" width=50 height=50 autoplay></video>
    <video id="local" class="Local" width=50 height=50 autoplay></video>
    calling
  </ion-content>
</ion-view>
