<ion-view>
  <ion-content>
    <form name="nickForm" ng-submit="start()" ng-if="!model.nick">  
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" ng-model="model.newNick" required>
        </label>
        <button type="submit" class="button button-block button-positive" ng-disabled="nickForm.$invalid">start</button>
      </div>
    </form>
    <div ng-if="model.nick">
      Hello, {{model.nick}}
    </div>
    <ion-list>
      <ion-item ng-repeat="contact in getContacts()"
                ng-href="#/messages/{{contact}}">
        {{contact}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
