<ion-view class="MessagesView">
  <ion-nav-title>{{model.id}}</ion-nav-title>
  <ion-content class="Messages">
      <ion-list class="Messages">
        <ion-item ng-repeat="message in messages">
          {{message.from}}: {{message.text}}
        </ion-item>
      </ion-list>
  </ion-content>
  <form class="list MessageInput" name="inputForm" ng-submit="send()">  
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" ng-model="model.newMsg" required>
      </label>
      <button type="submit" class="button button-small button-positive" ng-disabled="inputForm.$invalid">send</button>
      <a type="button"
         class="button button-small button-positive"
         ng-href="#/messages/{{model.id}}/call">audio</a>
      <a type="button"
         class="button button-small button-positive"
         ng-href="#/messages/{{model.id}}/call">video</a>
    </div>
  </form>
</ion-view>
